body{
  background-color: rgba(191, 191, 191, 0.427);
}
h1, h2{
  margin: 5px;
}
h1{
  text-align: center;
}

#container{
  max-width: 900px;
  margin: 0 auto;
}
#parties {
  list-style: none;
  padding: 0;
}
.party-content{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.party-content button{
  background-color: rgba(137, 189, 222, 0.589);
  border-radius: 5px;
  padding: 3px;
  border: 1.5px solid rgba(86, 86, 86, 0.788);
}
.party-content button:hover{
  color: white;
  background-color: rgba(9, 89, 139, 0.589);
  border: 1.5px solid rgb(73, 73, 73);
}
.control-btns{
  min-width: 100px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.party {
  background-color: white;
  height: max-content;
  margin: 10px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
}

#updParty{
padding: 10px 20px;
display: flex;
flex-direction: column;
gap: 10px;
width:75%;
margin: 5px auto;
}
#updParty button{
  background-color: rgba(152, 152, 231, 0.509);
  border-radius: 5px;
  padding: 5px;
  border: 1.5px solid rgba(192, 192, 192, 0.511);
}
#updParty button:hover{
  background-color: rgba(24, 24, 138, 0.826);
  border: 1.5px solid rgba(115, 115, 115, 0.511);
  color: white;
}
#updParty input{
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border: 1.5px solid rgba(155, 155, 155, 0.662);
}
#addParty{ 
  background-color: rgba(112, 166, 227, 0.562);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 340px;
  margin: 0 auto;
  padding: 10px;
}
#addParty input{
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid rgb(204, 204, 204);
}
#addParty button{
  background-color: rgba(147, 233, 147, 0.756);
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid rgba(73, 157, 140, 0.646);
} 
#addParty button:hover{
  background-color: rgba(20, 112, 20, 0.9);
  border: 1.5px solid rgb(172, 172, 172);
  color: white;
} 



.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 450px;
}

.popUp.active {
  transform: translate(-50%, -50%) scale(1);
}

.popUpHeader {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.popUpHeader .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.popUpHeader #closeButton {
  background-color: rgba(216, 113, 113, 0.285);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.25rem;
  font-weight: bold;
}
 
.popUpHeader #closeButton:hover {
  background-color: rgba(138, 12, 12, 0.621);
  color: white;
}

#overlay {
position: fixed;
opacity: 0;
transition: 200ms ease-in-out;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .5);
pointer-events: none;
}

#overlay.active {
opacity: 1;
pointer-events: all;
}
